*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style Section for Obute Catherine Obum */





/* Style Section for Idoko Stanistu */





/* Style Section for Divine Chinedu */
.div7{
background-image:url(./img_sally/sally_7.jpg);
background-size:cover;
    background-position:center;
    height:100vh;
    margin:0;
}
.div8{
    background-image:url(./img_sally/sally_8);
    background-size:cover;
    background-position:center,
    height:100vh;
}




