*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style Section for Obute Catherine Obum */





/* Style Section for Idoko Stanistu */





/* Style Section for Divine Chinedu */




